/* :root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f1e6eb;
  color: #2b303a;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: green;
}

fieldset i.subtract {
  color: #f64545;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
} */

main {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  height: 100vh;
  width: auto;
}

h1 {
  text-align: center;
}



label {
  font-weight: bold;
}

input[type='text'] {
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

p {
  margin: 10px 0;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

span {
  font-weight: bold;
}
.team {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  height: 65vh;
}

.team:first-child {
  margin-right: 1px;
}
.team:last-child {
  margin-left: 1px;
}

.flexboxSet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
