main {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  height: 100vh;
  width: auto;
}

h1 {
  text-align: center;
}



label {
  font-weight: bold;
}

input[type='text'] {
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

p {
  margin: 10px 0;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

span {
  font-weight: bold;
}
.team {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  height: 65vh;
}

.team:first-child {
  margin-right: 1px;
}
.team:last-child {
  margin-left: 1px;
}

.flexboxSet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
